body {
    max-width: 1600px;
    font-family: 'Inter', sans-serif;
    margin:0 auto;
}


/* Navbar */

.navbar-container {
    display: flex;
    background-color:#000000;
    color: #FFFFFF;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0 15px;
    height: 40px;
    align-items: center;
    cursor: pointer;
}

.navbar-container .right-nav div:hover {
  text-decoration: underline;
}

.navbar-container .left-nav h1:hover {
    text-decoration: underline;
}

.right-nav {
    display: flex;
    flex-direction: row;
   column-gap: 20px;
   align-items: center;
   font-weight: 400;
   font-size: 18px;
   color: #FFFFFFB2;
}

h1 {
   font-size: 20px;
   margin: 5px 0;
}

.profile-btn {
    text-decoration: underline;
  }

  /* //Form */

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    row-gap: 16px;
}

form input {
    width: 90vw;
    max-width: 1400px;
    font-size: 22px;
    line-height: 30px;
    padding-left: 12px;
    border-radius: 5px;
}

input::placeholder {
    color: black;
    font-size: 18px;
}


form h1 {
    font-size: 28px; 
    text-align: center;
    margin: 0;

}

.main-container {
    margin-top: 10px;
}

form button {
    width: 80px;
    height: 25px;
    cursor: pointer;
}

.green {
    color: green;
}

.red {
    color: red;
}


.submit-btn{
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    margin-right: 20px;
    width: 200px;
    height: 40px;
    font-size: 20px;
}


/* //My-Profile  */

/* //Change Password */
